@import url(./normalize.css);
@import url(./fonts/index.css);

#root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
}
:root {
  --base-width: 1280px;

  --light-theme-accent-color: #7466e1;
  --light-theme-background-color: #fff;
  --light-theme-black-text-color: #000;
  --light-theme-white-text-color: #fff;

  --dark-theme-accent-color: #00ffc2;
  --dark-theme-accent-background-color: #01221a;
  --dark-theme-background-color: #000;
  --dark-theme-text-color: #000;
  --dark-theme-title-color: #e4e4e4;
}
