.list {
  width: 91%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: minmax(220px, 270px);
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.listItem {
  list-style: none;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

.listItemLarge {
  composes: listItem;
  grid-column: span 1;
  grid-row: span 2;
}
