.footer {
  width: 100%;
  padding-top: 60px;
  background-color: var(--light-theme-accent-color);
  z-index: 0;
}
.footerDark {
  background-color: var(--dark-theme-accent-background-color);
}
.container {
  max-width: var(--base-width);
  margin: 0px auto;
  padding: 60px 16px 30px;
  display: flex;
  justify-content: center;
}
.copyright {
  margin: 0;
  line-height: 27px;
  color: #fff;
}
