.likeButton {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  background-image: url(../assets/likeButton.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
}

.likeButton:hover {
  transform: scale(1.1);
}

.likeButtonActive {
  composes: likeButton;
  background-image: url(../assets/likeButton_active.svg);
}
