.article {
  max-width: 92%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.img {
  max-width: 70%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 25px;
}
.descriptionList {
  min-width: 185px;
  margin: 0;
  padding: 0;
}
.descriptionListItem {
  list-style: none;
  display: inline-block;
}
.category {
  color: gray;
  font-size: 12px;
  margin-bottom: 3px;
}
.description {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
}
.link {
  display: inline-block;
  text-decoration: none;
  color: var(--light-theme-black-text-color);
  transition: all 0.4s ease;
}
.link:hover {
  transform: scale(1.1);
}
