.list {
  position: absolute;
  top: calc(100% - 15px);
  width: calc(100% - 20px);
  max-height: 400px;
  z-index: 800;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
  padding: 20px;
  padding-right: 0;
  overflow-x: auto;
}
.container {
  display: inline-flex;
  margin: 0;
  margin-right: 20px;
  gap: 10px;
}
