@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(./OpenSans-Regular.woff2) format('woff2'),
    url(./OpenSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url(./OpenSans-Semibold.woff2) format('woff2'),
    url(./OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(./AlbertSans-Regular.woff2) format('woff2'),
    url(./AlbertSans-Regular.woff) format('woff');
}
