@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(./open-sans-regular.woff2) format('woff2'),
    url(./open-sans-regular.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url(./open-sans-semibold.woff2) format('woff2'),
    url(./open-sans-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(./albert-sans-regular.woff2) format('woff2'),
    url(./albert-sans-regular.woff) format('woff');
}
