.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light-theme-background-color);
  background-image: url(../assets/page_preloader.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.preloaderDark {
  background-color: var(--dark-theme-background-color);
}
