.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: unset;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.link:hover {
  transform: scale(1.05);
}
.img {
  width: 31px;
  height: 31px;
  background-image: url(../../../../shared/ui/assets/unsplash_icon_black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.imgDark {
  background-image: url(../../../../shared/ui/assets/unsplash_icon_white.svg);
}
.text {
  margin: 0px;
  font-size: 20px;
  line-height: normal;
}
.textDark {
  color: var(--dark-theme-title-color);
}
